<div>
  <h3>Compra exitosa</h3>
  <p>Datos recividos por mercado pago</p>
  <ol>
    <li><strong>payment_method_id: </strong>{{ payment_type }}</li>
    <li><strong>external_reference: </strong>{{ external_reference }}</li>
    <li><strong>payment_id: </strong>{{ payment_id }}</li>
  </ol>
</div>